@media screen and (max-width: 1300px) {
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .main {
    margin: 0 3rem;
  }

  .content-box {
    padding: 0 0;
  }
}

@media only screen and (max-width: 1050px) {
  .feat-bot {
    overflow-x: unset;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 5rem;
    justify-items: center;
    text-align: center;

    &__img {
      transform: translateX(-0rem);
    }
  }
}

@media only screen and (max-width: 950px) {
  .tool-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    gap: 3.5rem;
  }

  .footer {
    padding: 3rem 0;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;

    &-nav {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
      justify-items: center;
    }

    &-social {
      align-items: start;
      justify-items: start;
      gap: 3rem;
    }

    &-logo {
      width: 75px;
    }
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .btn:not(:last-child) {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}
